---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Stacks w/Mike";
const nexus = ["Who is your audience?","What is your offer?","Where is your audience?","Why should they care?","How do you deliver it all?"];
const itemColor = "navy";
const fontWeight = "bold";
const textCase = "capitalize";
---
<BaseLayout pageTitle={pageTitle}>
<style is:global define:vars={{itemColor,fontWeight,textCase}}>
        h1 {
            color: grey;
            font-size: 4rem;
        }
    .item {
        color: var(--itemColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }    
</style>

<p>Success is found at the nexus of offer and audience.</p>
<p>
    <ul>
        {nexus.map((item) => <li class="item">{item}</li>)}
    </ul>
</p>

</BaseLayout>