---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Stacks w/Mike";
const nexus = ["Who is your audience?","What is your offer?","Where is your audience?","Why should they care?","How do you deliver it all?"];
const itemColor = "navy";
const fontWeight = "bold";
const textCase = "capitalize";
---
<BaseLayout pageTitle={pageTitle}>


<p>Success is found at the nexus of offer and audience.</p>
<p>
    <ul>
        {nexus.map((item) => <li>{item}</li>)}
    </ul>
</p>

</BaseLayout>