---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>        
		<h1>About Simple Mail Offers</h1>
        <p>Success is found at the nexus of offer and audience.</p>
        <p>
            <ul>
            <li>Who is your audience?</li>
            <li>What is your offer?</li>
            <li>How do you make it simple?</li>
            </ul>
        </p>
	</body>
</html>
