---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Stacks & Stuff";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Success is learned from shared experiences written by humans.</h2>
</BaseLayout>